{% extends 'base.html' %}

{% block content %}
    <h2>Add game</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=48)}}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.descreption.label }}<br>
            {{ form.descreption(size=48)}}
            {% for error in form.descreption.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=48)}}
            {% for error in form.price.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.developer.label }}<br>
            {{ form.developer(size=48)}}
            {% for error in form.developer.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.publisher.label }}<br>
            {{ form.publisher(size=48)}}
            {% for error in form.publisher.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.release_date.label }}<br>
            {{ form.release_date(size=48)}}
            {% for error in form.release_date.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}