<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="menu">
        <a href="/">Home</a>
        {% if authenticated %}
        <a href="/login">Login</a>
        {% else %}
        <a href="/cart">Cart</a>
        <a href="/games">Games</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        {% if current_user.admin %}
        <a href="/add_game">add game</a>
        {% endif %}
    </nav>
    <main class="main">
        <div class="contetnt">
            {% block content %} {% endblock %}
        </div>
    </main>
    

</body>
</html>